<header class="header">
  <div class="header__bar row">
    <h1 class="grid-6"><a href="/">Synary</a></h1>
    <div class="user_nav grid-6">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname, "#", class: "nickname" %>
      <%= link_to "投稿する", "#", class: "post" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
     <% else %> 
      <%= link_to "新規登録", new_user_registration_path, method: :get, class: "signin" %>
      <%= link_to "ログイン", new_user_session_path, method: :get, class: "login" %>
    <% end %>
    </div>
  </div>
</header>