<%= render "shared/header" %>

  <div class="main">
    <div class="scenario_main">
      <div class="top_image">
        <%= image_tag @scenario.image.variant(resize: "180x210") %>
      </div>
      <div class=top_manage>
      <% if user_signed_in? && current_user.id == @scenario.user.id %>
        <%= link_to "編集", edit_scenario_path(@scenario.id), class: "manage_btn" %>
        <%= link_to "削除", scenario_path(@scenario.id),method: :delete, class: "manage_btn" %>
      <% end %>
      </div>
      <div class="main_content">
        <div class="top_title">
          <%= @scenario.title %>
        </div>
        <div class="top_nickname">
          by <%= link_to @scenario.user.nickname, user_path(@user) %>
        </div>
        <div class="top_scenario">
          <%=  @scenario.scenario %>
        </div>
      </div>
    </div>
  </div>